<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-list>
		<ion-item *ngFor="let item of itens">
		  <h1>
		  	{{item.titulo}}
		  </h1>
		  <p class="item-note" slot="end">
		    {{item.descricao}}
		  </p>
		</ion-item>
	</ion-list>

	<ion-card *ngFor="let post of itens">
		<ion-card-header>
	      <ion-card-subtitle>{{item.titulo}}</ion-card-subtitle>
	    </ion-card-header>
	    <ion-card-content>
	      <p>
	        {{item.descricao}}
	      </p>
	    </ion-card-content>
	</ion-card>

</ion-content>
